# --- AUTH SERVICE ---
AUTH_DB_HOST=localhost
AUTH_DB_PORT=5432
AUTH_DB_USER=your_username
AUTH_DB_PASSWORD=your_pass
AUTH_DB_NAME=your_db
AUTH_DB_SSL_MODE=prefer

AUTH_DB_OPEN_CONNECTIONS=25
AUTH_DB_IDLE_CONNECTIONS=25
AUTH_DB_CONNECTION_LIFETIME=5m

AUTH_ACCESS_SECRET=your_access_secret_key
AUTH_REFRESH_SECRET=your_refresh_secret_key
AUTH_ACCESS_TTL=15m
AUTH_REFRESH_TTL=720h

AUTH_PASSWORD_COST=4

AUTH_GRPC_PORT=50051
AUTH_LOG_LEVEL=INFO
AUTH_ENVIRONMENT=test

# --- USER SERVICE ---
USER_DB_HOST=localhost
USER_DB_PORT=5432
USER_DB_USER=your_username
USER_DB_PASSWORD=your_pass
USER_DB_NAME=your_db
USER_DB_SSL_MODE=prefer

USER_DB_OPEN_CONNECTIONS=25
USER_DB_IDLE_CONNECTIONS=25
USER_DB_CONNECTION_LIFETIME=5m

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=your_username
RABBIT_PASSWORD=your_pass

RABBIT_WAIT_TIME=10s
RABBIT_ATTEMPTS=5

SUBSCRIBER_EXCHANGE_NAME=account_topic
SUBSCRIBER_QUEUE_NAME=account_create
SUBSCRIBER_ROUTING_KEY=account.created

USER_GRPC_PORT=50052
USER_LOG_LEVEL=INFO
USER_ENVIRONMENT=test