apiVersion: apps/v1
kind: Deployment
metadata:
  name: authservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authservice
  template:
    metadata:
      labels:
        app: authservice
    spec:
      containers:
        - name: authservice
          image: authservice:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 50051
          env:
            - name: DB_HOST
              value: "postgres"
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              value: "auth_user"
            - name: DB_PASSWORD
              value: "vovavova"
            - name: DB_NAME
              value: "auth_db"
            - name: JWT_ACCESS_SECRET
              value: "super-secret-key"
            - name: JWT_REFRESH_SECRET
              value: "super-secret-key-1234321"
---
apiVersion: v1
kind: Service
metadata:
  name: authservice
spec:
  selector:
    app: authservice
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
